*{
    margin: 0;
    padding: 0;
}
.NavBar{
    display: flex;
    justify-content: space-between;
    background-color: #4a2411;
}
.NavBar .logo img{
    width: 50px;
    border-radius: 50px;
    cursor: pointer;
}
.NavBar .NavItems ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.NavBar .NavItems ul li{
    margin: 10px 20px 0 0;
    font-size: 20px;
    color: rgba(217, 223, 228, 0.945);
    cursor: pointer;
}